html {
    background-color: black;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

header {
    width: 100%
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    padding: 10px;
    margin: 0px;
}

nav {
    display: inline-flex;
    justify-content: space-between;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

#logo {
    height: 50px;
    /* display: inline; */
}

#mission {
    width: 1200px;
    height: 700px;
    margin: auto;
    position: relative;
}

#statement {
    background-color: black;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    overflow: hidden;
}

#tea-of-the-month {
    width: 1000px;
    margin: auto;
    position: relative;
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
}

#t2 {
    justify-content: space-around;
}

.teas img {
    height: 200px;
    width: 300px;
    margin: 0;
    padding-bottom: 10px;
}

.teas h4 {
    margin: 0;
    padding-top: 0;
}

#locations {
    width: 1200px;
    height: 500px;
    margin: auto;
    position: absolute;
}

#locations-img {
    overflow: hidden;
    height: 500px;
    width: 100%;
    object-fit: none;
}

#location-cards h2 {
    margin-bottom: 15px;
}

#location-cards {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 15%;
}

.location {
    width: 300px;
    background-color: black;
    margin: 20px;
    display: inline-block;
    opacity: 1;
}

#contact {
    height: 200px;
}